# Server
PORT=1234

SUPABASE_PROJECT_URL=https://localhost:1234
SUPABASE_ANON_API_KEY=anon_key
SUPABASE_SERVICE_ROLE_API_KEY=service_role_key

JWT_ACCESS_SECRET=access_secret
JWT_REFRESH_SECRET=refresh_secret

JWT_ACCESS_EXPIRES_IN=11m
JWT_REFRESH_EXPIRES_IN=11d

NODE_ENV=test
COOKIE_SECURE=false
COOKIE_SAMESITE=lax
COOKIE_DOMAIN=test

GOOGLE_CLIENT_ID=test
GOOGLE_CLIENT_SECRET=test